#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
}
.fig{
    height: 200px;
    width: 310px;
    border-radius: 5%;
    
}
#font{
    font-family: sans-serif;
}
.container{
    display: flex;
    height: 100%;
    width:100%;
    
    position: relative;
    justify-content: center;
    align-items: center;
}
#price{
    color: blue;
    margin-right: 20px;
    font-family: sans-serif;
}

.delta{
    font-family: sans-serif;
}
.adjust{
    margin-top: 25px;
}

#discount{
    padding: 6px 18px;
    font-family: 'Source Sans Pro', sans-serif;
    height: 30px;
    margin-left: 20px;
    color: #ffffff;
    
    background-color:rgb(127, 255, 140);
    border-radius: 5px;
}
#text{
    font-size: 17px;
    
}
hr{
    
    width: 310px;
}
#set{
    width:310px;
}